    <div class="col-lg-2">
        <label class="control-label">{{ filter.name }}</label>
    </div>
    <div class="col-lg-3">
        <select class="form-control" name="{{filter.field}}comparator{% if index is defined and index %}{{index}}{% else %}__index__{% endif %}">
            <option value="{{ constant("Kristofvc\\ListBundle\\Model\\Filters\\DateFilter::COMP_BEFORE") }}" {% if data.comparator is defined and data.comparator == constant("Kristofvc\\ListBundle\\Model\\Filters\\DateFilter::COMP_BEFORE") %} selected="selected" {% endif %} >
                {{ "before" | trans }}
            </option>
            <option value="{{ constant("Kristofvc\\ListBundle\\Model\\Filters\\DateFilter::COMP_AFTER") }}" {% if data.comparator is defined and data.comparator == constant("Kristofvc\\ListBundle\\Model\\Filters\\DateFilter::COMP_AFTER") %} selected="selected" {% endif %} >
                {{ "after" | trans }}
            </option>
        </select>
    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <input class="form-control" type="text" class="datepicker datepicker{% if index is defined and index %}{{index}}{% else %}__index__{% endif %}" name="{{filter.field}}value{% if index is defined and index %}{{index}}{% else %}__index__{% endif %}" placeholder="{{ "date" | trans }}" {% if data.value is defined %}value="{{data.value}}"{% endif %} />
            <div class="btn-group input-group-btn">
                <span class="btn btn-default datepickerbtn"><a href="#" class=" datepickerbtn{% if index is defined and index %}{{index}}{% else %}__index__{% endif %}"><i class="glyphicon glyphicon-calendar"></i></a></span>
                <a class="btn btn-danger action-remove" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
        </div>

    </div>
    